{cover_enabled,true}.
{cover_print_enabled,true}.
{cover_export_enabled,true}.

{deps_dir,"deps"}.
{deps,[
    {lager, "2.0.1", {git, "git://github.com/basho/lager.git", {tag, "2.0.1"}}},
    {lager_syslog, "2.0.1", {git, "git://github.com/basho/lager_syslog.git", {tag, "2.0.1"}}},
    {piqi_rpc,"v0.6.0*",{git,"git://github.com/Motiejus/piqi-rpc.git",{tag,"v0.6.0-spil5-public"}}}
]}.

{erl_opts,[debug_info]}.
{require_otp_vsn,"R14|R15"}.
{xref_checks,[undefined_function_calls]}.
{eunit_opts,[verbose,{report,{eunit_surefire,[{dir,"."}]}}]}.
{edoc_opts,[{dir,"DOC"},{includes,[".","deps"]},{preprocess,true},{todo,true}]}.
{sub_dirs,["rel"]}.

{pre_hooks, [
        {compile, "make -C src"},
        {clean, "make -C src clean"}
    ]
}.
