{sys, [
        {lib_dirs, ["../deps"]},
        {erts, [{mod_cond, derived}, {app_file, strip}]},
        {app_file, keep},
        {rel, "erl_piqibench", git,
            [
                % System components
                kernel,
                stdlib,
                piqibench
            ]},
        {rel, "start_clean", "",
            [
                kernel,
                stdlib
            ]},
        {boot_rel, "erl_piqibench"},
        {profile, embedded}, % | development | embedded
        {debug_info, keep},
        {excl_archive_filters, [".*"]}, %% Do not archive built libs
        {excl_sys_filters, ["^bin/.*", "^erts.*/doc", "^erts.*/src",
                "^erts.*/info", "^erts.*/man",
                "^erts.*/lib", "^erts.*/include",
                "^erts.*/bin/(dialyzer|typer)"]},
        {excl_app_filters, ["\.gitignore"]},
        {app, hipe, [{incl_cond, exclude}]},

        %% Apps that must be force-included
        {app, lager_syslog, [{incl_cond, include}]},

        {app, piqibench, [{incl_cond, include}, {lib_dir, ".."}]}
    ]}.

{target_dir, "erl_piqibench"}.

{overlay, [
        % Create directory structure
        {mkdir, "log/sasl"},
        {mkdir, "priv/"},
        {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
        {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
        {copy, "files/erl_piqibench", "bin/erl_piqibench"},
        {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
        {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"},
        {template, "files/sys.config", "releases/\{\{rel_vsn\}\}/sys.config"}
    ]
}.

