[

    {piqi_rpc, [
        {http_server, [
            {ip, any},
            {port, 8090},
            {name, piqibench}
        ]}
    ]},

    {lager, [
        {handlers,[
            {lager_console_backend,[info,true]},
            {lager_syslog_backend, ["erlang/bench/piqibench", local6, notice]}
        ]},
        {error_logger_redirect,true}
    ]}

].
